
{{> head}}
{{> navbar}}


<div class ="row">
    <div class="col-8">
        <h1>Garfield</h1>
        <p>
            Lorem ipsum dolor sit.... LASANYA!!!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/download.png" class="img-thumbnail">
    </div>


</div>

{{> footer}}